<article class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}

  {{ .Render "featured" }}
  <div id="content">
    {{ .Content }}
  </div>
  <div>
    <hr>
    <h3>Gracias por leer mi blog!</h3>
    <p style="margin-bottom: 15px">Si te gustó lo que leiste te invito a que te sumes al newsletter para recibir un mail semanal con el nuevo contenido y novedades. O podes apoyarme con su desarrollo invitandome un cafe :) Muchas gracias!</p>
    <p style="display: flex;justify-content: center;">
      <a class="subscribe" href="https://tinyletter.com/eboehler" target="popup" onclick="window.open('https://tinyletter.com/eboehler','popup','width=600,height=600'); return false;"> Subscribirse </a> <a class="cafecito" href='https://cafecito.app/lazio' rel='noopener' target='_blank'><img src='https://cdn.cafecito.app/imgs/buttons/button_4.png' alt='Invitame un café en cafecito.app'/></a>
    </p>
</div>
  <footer>
    {{ .Render "footer-category" }}
  </footer>

</article>
{{ .Render "comments" }}
{{ .Render "prev-next" }}
